 html {
     min-height: 100%;
     position: relative;
 }

 html body {
     margin-bottom: 60px;
 }

 html #footer {
     bottom: 0;
     padding-top: 10px;
     width: 100%;
     position: absolute;
     height: 80px;
     background-color: black;
     color: white;
     font-size: 16px;
     text-align: center;
 }
.footer-block {
     margin: 10px 0;
 }